<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>老年人入住信息</title>
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">老年人入住信息录入</div>
      <div class="card-body">
        <form action="/oldmanruzhu1" method="post">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label >老年人名字 </label>
              <select class="col-md-6" name="selec">
                {% for one in var %}
                   <option>{{one.username}}</option>
                {% endfor %}
              </select>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">入住时间</label>
                <input class="form-control" id="exampleInputName" type="date" placeholder="输入入住时间" name="ruzhutime">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">离开时间</label>
                <input class="form-control" id="exampleInputLastName" type="date"  placeholder="输入离开时间" name="likaitime">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">图像目录</label>
            <input class="form-control" id="exampleInputEmail1" type="text" aria-describedby="emailHelp" placeholder="输入图像目录" name="tuxiang">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">头像路径</label>
                <input class="form-control" id="exampleInputPassword1" type="text" placeholder="输入头像路径" name="touxiang">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">房间号</label>
                <input class="form-control" id="exampleConfirmPassword" type="text" placeholder="输入房间号" name="roomnum">
              </div>
            </div>
          </div>
          <input class="btn btn-primary btn-block" type="submit" value="录入">
        </form>
        <div>--------------------------------------------------------------------------------------------</div>
        <div class="text-center">
          <a class="btn btn-primary btn-block" href="/index">返回</a>

        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
