<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <title>义工个人信息</title>
  <!-- Bootstrap core CSS-->
  <link href="static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <!-- Custom fonts for this template-->
  <link href="static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
  <!-- Custom styles for this template-->
  <link href="static/css/sb-admin.css" rel="stylesheet">
</head>

<body class="bg-dark">
  <div class="container">
    <div class="card card-register mx-auto mt-5">
      <div class="card-header">义工个人信息录入</div>
      <div class="card-body">
        <form action="/yigongzhuce1" method="post">

          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputName">姓名</label>
                <input class="form-control" id="exampleInputName" type="text" aria-describedby="nameHelp" placeholder="输入名字" name="vname">
              </div>
              <div class="col-md-6">
                <label for="exampleInputLastName">性别</label>
                <input class="form-control" id="exampleInputLastName" type="text" aria-describedby="nameHelp" placeholder="输入性别" name="vsex">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="exampleInputEmail1">电话</label>
            <input class="form-control" id="exampleInputEmail1" type="text" placeholder="输入电话" name="vphone">
          </div>
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6">
                <label for="exampleInputPassword1">身份证号</label>
                <input class="form-control" id="exampleInputPassword1" type="password" placeholder="输入身份证号" name="vcard">
              </div>
              <div class="col-md-6">
                <label for="exampleConfirmPassword">出生日期</label>
                <input class="form-control" id="exampleConfirmPassword" type="date" placeholder="输入出生日期" name="vbirth">
              </div>

            </div>

          </div>
          <input class="btn btn-primary btn-block" type="submit" value="注册">
        </form>
        <div>--------------------------------------------------------------------------------------------</div>
        <div class="text-center">
          <a class="btn btn-primary btn-block" href="/index">返回</a>

        </div>
      </div>
    </div>
  </div>
  <!-- Bootstrap core JavaScript-->
  <script src="static/vendor/jquery/jquery.min.js"></script>
  <script src="static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <!-- Core plugin JavaScript-->
  <script src="static/vendor/jquery-easing/jquery.easing.min.js"></script>
</body>

</html>
